:root {
  --bs-coffee-rgb: 60, 40, 0;
}
.carousel-inner {
  height: 75%;
}
.bg-coffee {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-coffee-rgb), var(--bs-bg-opacity)) !important;
}

#asd .carousel-item img {
  object-fit: cover;
}
.card {
  border: 0;
  padding: 0;
  height: 50%;
}
.card-text {
  position: relative;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%) !important;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
#kard {
  height: 75vh;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}

#section01 {
  height: 75vh;
  margin-top: 16vh;
  color: #fff;
}
#section03 {
  height: 125vh;
}
#section03 p {
  width: 100%;
}
#section04 .nav-tabs {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
#section04 .nav-item {
  height: 35px;
  justify-content: center;
  align-items: center;
}
#section04 .tab-content .header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 2rem;
}
#section04 .carousel-item .header {
  font-size: 1.6rem;
  margin-top: 1rem;
}
#section04 .carousel-item .body {
  font-size: 0.75rem;
  margin-top: 1rem;
}
#section04 .carousel-item .footer {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #af9f7b;
}

#gmap {
  width: 100%;
}
#section06 {
  background: rgb(54, 61, 65);
  color: #fff;
  width: 100%;
}
#section06 span {
}

/* ---------------------------------------------- */

@media (min-width: 992px) {
  #section01 > .container-fluid .col-lg-5 {
    border-left: 20px solid #fff;
  }
  #section01 > .container-fluid {
    background-image: url(./bg-image-08.jpg);
    height: 60vh;
  }

  #section01 > .container-fluid .col:nth-child(1) {
    border-bottom: 20px solid #fff;
  }
  #section01 #right{
  transform: skew(336deg);
  }
  #section01 #right h1{
    transform: skew(24deg);
    }
  #section02 > .container-fluid {
    height: 50vh;
  }
  #section03 .col-12:nth-child(1) .card {
    height: 110vh;
  }
  #section03 .col-12:nth-child(2) .card {
    height: 110vh;
  }
  #section04 > .container > .row {
  }

  #section04 > .container-fluid {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #section01 > .container-fluid {
    background-image: url(./bg-image-08.jpg);
    height: 60vh;
  }
  #section01 > .container-fluid .col-lg-7 {
    border-bottom: 10px solid #fff;
  }
  #section01 > .container-fluid .col:nth-child(1) {
    border-bottom: 10px solid #fff;
  }
}
#section02 {
  height: 200vh;
}
#section02 > .container-fluid {
  height: 100vh;
}
#section03 {
  height: 200vh;
}
#section03 .col-12 .card {
  height: 50vh;
}

#section04 {
  height: 170vh;
}
#section04 .container .row .col-lg-6:nth-child(2) {
  height: 125vh;
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 75% !important;
  }
  #section01 {
    height: 160vh;
  }

  #section01 .container-fluid {
    
    height: 150vh;
  }
  #section01 #left{
    background-image: url(./bg-image-08.jpg);
  }
  #section01 #right{
    background-image: url(./bg-image-08.jpg);
  }

  #section01 .col-12 {
    border-bottom: 10px solid #fff;
  }
  #section01 .col-12 .col:nth-child(1) {
    border-bottom: 10px solid #fff;
  }
  #section02 {
    height: 165vh;
  }
  #section02 > .container-fluid {
    height: 100vh;
  }
  #section03 {
    height: 240vh;
  }
  #section03 .col-12 .card {
    height: 40vh;
  }
  #section04 {
    height: 200vh;
  }
  #section04 .container {
    height: 100vh;
  }

  #section04 .col-lg-6 {
    height: 100vh;
  }

  #section05 {
    height: 75vh;
    margin-bottom: 2rem !important;
  }
  #gmap {
    height: 50vh;
  }
  #section06 {
    height: 125vh;
    background: rgb(54, 61, 65);
    color: #fff;
    padding-top: 5rem;
  }
  #section06 .fs-2 {
  }
}
